.navbar {
    padding-left: 20%;
    border: solid;
    border-color: $secondary-color;
}

.ul {
    text-align: center;
    padding-top: 5%;
    background: $background-alternative-color;
}

* a {
    color: $secondary-color;
}
