/* report.scss */
.landing {
    display: grid;
    gap: 1em 1em;
    padding: 10px;
    margin: 25px;
    border: 2px solid;
    border-color: rgb(36, 99, 181);
    color: rgb(33, 32, 32);
}

.landing h1 {
    grid-column: span 3;
    justify-self: center;
}

.kmom-box.project {
    grid-column: span 3;
}
