$font-color: rgb(70, 70, 70);
$secondary-font-color: rgb(197, 194, 194);
$font-alternative-color: rgb(227, 227, 227);
$accent-color: #2b65c8;
$background-color: #eeecec;
$background-alternative-color: #3567aee0;
$secondary-color: rgb(71, 99, 162);
$secondary-red: rgb(49, 62, 183);
$tertiary-color: rgb(197, 244, 197);
