body {
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1 0 auto;
    padding: 10px; 
    max-width: 50%; 
    position: relative; 
    left: 20%;
}

.header, .footer {
    flex: 0 0 auto;
}