$font-color: rgb(224, 222, 222);
$font-alternative-color: #fff;
$accent-color: #c84b2b;
$background-color: #454949;
$background-alternative-color: #2d3232;
$secondary-color: red; 
$secondary-red: rgb(183, 49, 49); 
