.footer {
    flex: 0 0 auto;
    display: flex;
    justify-content: space-between;
    border-top: solid;
    border-top: 2px;
    border-color: rgb(68, 68, 68);
    background-color: $background-alternative-color;
    min-height: 80px;
}

.footer a {
    color: $font-color;
    text-decoration: none;

}

.footer .social {
    font-size: 3rem;
    position: relative;
    padding: 15px;
    left: 45%;
}
