/* technologies.scss */

.all-pictures {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: auto;
    grid-template-areas:
    'title title title'
    'one   two   three'
    'four  five  six'
    'seven eight nine';
    gap: 0.5em 0.5em;
    margin: 2%;
}

.pic-box {
    color: $font-color;
}

.pic-title {
    color: $secondary-color;
    grid-area: title;
    text-align: center;
}

.pic-one {
    grid-area: one;
}

.pic-two {
    grid-area: two;
}

.pic-three {
    grid-area: three;
}

.pic-four {
    grid-area: four;
}

.pic-five {
    grid-area: five;
}

.pic-six {
    grid-area: six;
}

.pic-seven {
    grid-area: seven;
}

.pic-eight {
    grid-area: eight;
}

.pic-nine {
    grid-area: nine;
}

.pic-box a {
    color: $secondary-color;
    justify-self: center;
}

.pic-box a:hover {
    color: $secondary-accent-color;
}





.all-pictures h1 {
    grid-column: span 3;
    justify-self: center;
    border-bottom: solid;
    border-color: $accent-color;
}


@media screen and (max-width: 800px) {
    .all-pictures {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas:
        'title'
        'one  '
        'two  '
        'three'
        'four '
        'five '
        'six  '
        'seven'
        'eight'
        'nine ';
        gap: 1em 1em;
        padding: 5px;
        margin: 5px;
        color: rgb(33, 32, 32);
    }

    .pic-box {
        color: $font-color;
        padding: 10px;
        max-width: 100%;
    }
    
    .pic-title {
        color: $font-color;
        padding: 10px;
        grid-area: title;
        max-width: 100%;
    }

}
