
.header {
    flex: 0 0 auto;
    border-bottom: solid 2px;
    border-color: $secondary-color;
    background-color: $background-alternative-color;
    justify-content: space-between;
    text-align: center;
}

.header,
.site-header {
    display: flex;
    padding-left: 11.5%;
}

.header,
.site-header,
.logo {
    padding: auto;
}
