.main {
    flex: 1 0 auto;
    max-width: 60%;
    position: relative;
    left: 20%;
    padding: 10px;
    margin: 25px;
    border: 2px solid;
    border-color: $background-alternative-color;
    color: $font-color;
    background-color: $background-alternative-color;
}

.article {
    word-break: break-word;
    padding: 0.1em;
}
