body {
    font-family: sans-serif;
    line-height: 1.5rem;
    color: $font-color;
}

p,
td,
th,
li,
dd,
a {
    text-align: justify;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto Condensed', sans-serif;
    margin-bottom: 0.6em;
    font-weight: bold;
    color: $font-color;
}

* {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}

img {
    max-width: 100%;
    display: block;
}

.article a {
    color: $secondary-color;
}
