$font-color: rgb(226, 226, 226);
$secondary-font-color: rgb(27, 27, 27);
$font-alternative-color: rgb(202, 202, 202);
$background-color: #262626; //bakgrund
$background-alternative-color: #272727; // main/bakgrunden till text
$accent-color: #a29292;
$secondary-accent-color: rgb(230, 56, 56);

//använd främst de ovan
$secondary-color: rgb(242, 104, 104); //för bland annat länkar
$tertiary-color: rgb(36, 36, 36);
