$font-color: rgb(226, 226, 226);
$secondary-font-color: rgb(27, 27, 27);
$font-alternative-color: rgb(202, 202, 202);
$background-color: #262626;

$background-alternative-color: #272727;

$accent-color: #a29292;
$secondary-accent-color: rgb(230, 56, 56);

//använd främst de ovan
$secondary-color: rgb(242, 104, 104);
$tertiary-color: rgb(36, 36, 36);
