
.header {
    border-bottom: solid 2px;
    border-color: $secondary-color;
    background: transparent;
    justify-content: space-between;
    text-align: center;
}

.header,
.site-header {
    display: flex;
    padding-left: 11.5%;
}

.header,
.site-header,
.logo {
    padding: auto;
}
