
.header {
    border-bottom: solid 2px;
    border-color: $secondary-color;
    background: transparent;
    justify-content: space-between;
    text-align: center;
    max-width: 100%;
    flex: 0 0 auto;
}

.header,
.site-header {
    display: flex;
}

.header,
.site-header,
.logo {
    padding: auto;
}
