.main {
    flex: 1 0 auto;
    max-width: 50%;
    position: relative;
    left: 20%;
    padding: 10px;
    margin: 25px;
    color: $font-color;
    background-color: $text-background;
    word-break: break-word;
}

.article {
    word-break: break-word;
    padding: 0.1em;
}
