
@media screen and (max-width: 600px) {
    body {
        word-spacing: normal;
        overflow: auto;
        word-break: break-all;
    }

    .main {
        margin: 0.1em;
        float: left;
        max-width: 90%;
        left: 3%;
        overflow: auto;
        word-spacing: auto;
        text-align: left;
    }

    .article {
        padding: 0.1em;
        margin: 0.1em;
        max-width: 100%;
    }

    .aside {
        padding: 0.1em;
        margin: 0.1em;
        width: 100%;
    }

    .footer {
        float: left;
        text-align: center;
    }

    .footer a {
        font-size: 0.8em;
    }

    .footer .social {
        font-size: 3rem;
        position: relative;
        padding: 15px;
        left: 5%;
    }
}
