
@media (max-width: 767px) {
    .title {
        padding: 1em 1em 1em 0;
        min-width: 50%;
    }
    
    .logo {
        padding: 1em 1em 1em 0;
        max-width: 30%;
    }
}

.title * {
    color: $secondary-accent-color;
}

.title p {
    font-style: italic;
}
