$font-color: rgb(40, 40, 40);
$secondary-font-color: rgb(234, 217, 171);
$font-alternative-color: rgb(22, 21, 21);

$text-background: rgb(252, 243, 220);

$background-color: #ddb271;
$secondary-background-color: rgb(252, 219, 158);
$background-alternative-color: #d89219;
$accent-color: #4a47e7;
$secondary-accent-color: rgb(41, 56, 187); 

//använd främst de ovan
$secondary-color: rgb(61, 89, 160);
$tertiary-color: rgb(232, 232, 232);
