$font-color: rgb(17, 17, 17);
$secondary-font-color: rgb(27, 27, 27);
$font-alternative-color: rgb(21, 21, 21);
$text-background: rgb(243, 243, 243); 
$background-color: #fafafa; //bakgrund
$background-alternative-color: #ffffff; // main/bakgrunden till text
$accent-color: #39a24a;
$secondary-accent-color: rgb(27, 103, 10);

//använd främst de ovan
$secondary-color: rgb(46, 145, 23); //för bland annat länkar
$tertiary-color: rgb(232, 232, 232);


// BODY ->linear-gradient($secondary-color, $secondary-color, $background-color, $accent-color);
